<h1>Profile page</h1>

<h2>Users List:</h2>
<ul>
    <% userData.forEach((user)=> { %>
        <li>
            ID: <%= user.id %>
                <ul>
                    <li>Username: <%= user.user_name %>
                    </li>
                    <li>Full name: <%= user.first_name %>
                            <%= user.last_name %>
                    </li>
                    <li>Email: <%= user.email %>
                    </li>
                </ul>
        </li>
        <% }) %>
</ul>

<% for( let i=0; i < userData.length; i++ ) { %>
    <h2>
        <%=userData[i].breed %>
    </h2>
    <% } %>